body,html{
    height:100%;
    width:100%;
    margin:0;
}

.mainContainer{
    width:100%;
    height:200%;
    background-image: url("images/duckBG2.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    display:flex;
}

.gridContainer{
    display:flex;
    margin:auto;
    height:95%;
    width:95%;
    display:grid;
    column-gap:2px;
    row-gap:2px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

.gridItem{
    margin:auto;
    border:0;
    height:20vh;
    width:20vh;
}

.found{
    background-color: green;
}

.notFound{
    background-color: red;
}